@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PageNotFound").Text);
    //page class
    Html.AppendPageCssClassParts("html-not-found-page");
}
<div class="page not-found-page">
	<div class="text-center m-b"><img src="~/Themes/Element/Content/img/404.png" alt="" /></div>
    <div class="page-title">
        <h1>@T("PageTitle.PageNotFound")</h1>
    </div>
    <div class="page-body text-center" style="min-height:300px; width:400px; margin:0 auto;">
		<h1 class="m-b-xs text-red">OOPS! Page not found!</h1>
		<h3 class="text-none">Please try again or go back to the <span class="text-red">homepage</span> while we look
for the missing piece in this puzzle...</h3>
        <!--@Html.Action("TopicBlock", "Topic", new { systemName = "PageNotFound" })-->
    </div>
</div>
